#content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#greeting-container {
  margin-top: 20px;
}

div.parallax {
    background: transparent;
    min-height: 100vh;
}

div.about {
    margin: 0;
    padding: 3% 4% 3% 4%; 
    background-color: whitesmoke;
}

div.contact {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 690px;
}

div.logos {
    text-align: center;
}

img.logo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 60px; 
    padding: 4px;
}

a.hide-decoration {
    text-decoration: none;
}

body {
  background-image: url('/images/graybackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  margin: 0;
  font-family: Verdana, Helvetica, sans-serif;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
    text-align: center;
}

.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar-li {
  float: left;
}

.navbar-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgb(87, 115, 190);
}

.header-text h1 {
    margin: 0;
    padding: 15% 0px 0px 0px;
    text-align: center;
    font-size:130px;
    color: black;
}

.header-text h2 {
    margin: 0;
    text-align: center;
    font-size: 50px;
    color: black;
}

img {
	max-width:25%;
	height:auto;
}

div.paragraph-margin {
    margin: 30pt;
    font-size: 18px;
}

div.paragraph-wrap {
    word-wrap: break-word;
}

div.resume {
    margin-left: auto;
    margin-right: auto;
    width: 600pt;
}

div.resume-row {
    content: "";
    display: table;
    clear: both;
}

div.resume-col-title {
    float: left;
    width: 200pt;
}

div.resume-col-description {
    float: left;
    width: 400pt;
}

textarea {
    width: 300px; 
    height: 120px;
}

textarea::placeholder {
  font-family: Verdana, Helvetica, sans-serif;
}

div.name-form {
    margin-left: auto;
    margin-right: auto;
    width: 230pt;
    padding: 25pt;
}

button {
  background-color: rgb(94, 94, 94);
  border: none;
  margin-top: 6pt;
  padding: 8px 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(70, 70, 70);
}

.button {
  background-color: rgb(94, 94, 94);
  border: none;
  margin-top: 6pt;
  padding: 8px 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(70, 70, 70);
}

div.timeline {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.gallery-text {
    text-align: center;
    margin-top: 100px;
}

div.chart-container {
    width: 500px;
    height: 300px;
}

div.hide-container {
    display: none;
}

div.comments-content-container {
    width: 800px;
}

div.comments-content-container h4 {
    margin-bottom: 6px;
    padding: 0px;
}

div.comments-content-container p {
    margin-top: 0px;
    margin-bottom: 17px;
    padding: 0px;
}