#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

body {
  background-color: #f1ecad;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center_text {
    text-align: center;
}

.button_center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px; 
}

.row {
  margin-top: 20px;
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 15px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #3e8e41;
}